*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin: 8px 120px 8px 120px;
  /* background-color: aqua; */
}

/* Header logo section */
.header .logo, .nav, .account{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo img, .account img{
  height: 35px;
}

/* header Navbar section */
.header .nav{
  gap: 25px;
}
.nav a{
  text-decoration: none;
  color: #858D9D;
}
.nav a:nth-child(4){
  font-weight: 600;
  color: black;
}


/* Hero Container section */
.hero{
  position: relative;
  margin: 50px 120px 45px 120px;
}

/* hero caption section */
.hero .caption{
  width: 350px;
  margin-bottom: 30px;
}
.hero .caption h2{
  margin-bottom: 10px;
}
.hero .caption p{
  color: #858D9D;
  width: 325px;
}

/* Hero Container Section */
.hero .container{
  width: inherit;
  /* background-color: #858D9D; */
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
  height: 610px;
  /* background-color: #3498db; */
}

/* first container */
.hero .container .first-container{
  position: relative;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 100%;
  /* background-color: black; */
}

/* First div */
.first-container .first-container-div1{
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  background-color:rgba(235, 211, 183, 0.838);
  border-radius: 14px;
  overflow: hidden;
  height: 220px;
  box-shadow: 5px 5px 10px rgb(109, 108, 108);
}


.first-container-div1 img{
  border-radius: 8px;
  padding: 4px 4px 0 4px;
  position: absolute;
  top: -110px;
  left: 50px;
  width: 100%;
  transition: transform 0.4s, width 0.3s ease-in-out;
}
.first-container-div1 img:hover{
  transform: scale(1.4);
}
.first-container-div1 .first-container-item1{
  height: 159px;
  width: 250px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  left:12px ;
  bottom: 20px;
  font-weight: 600;
  /* color:rgb(121, 26, 64); */
  color: black;
  /* background-color: blue; */
  transition: transform 0.3s, width 0.3s, height 0.3s ease-in-out;
}
.first-container-item1:hover{
  transform: scale(1.09);
}

.first-container span{
  font-size: 12px;
  
}
.first-container h3{
  margin-top: 10px;
  font-size: 24px;
  font-family:cursive;
}
.first-container button{
  margin-top: 60px;
  padding: 4px 15px 4px 15px;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
  color: black;
}

/* TRANSITION */
.first-container-div1, .first-container-item2, .first-container-item3{
  transition: transform 0.3s ease-in-out;
}
.first-container-div1:hover{
  transform: scale(0.9);
}



/* Second div */
.first-container .first-container-div2{
  display: flex;
  height: 350px;
  overflow: hidden;
  gap: 21px;
  /* background-color: aliceblue; */
}
.first-container-div2 .first-container-item2, .first-container-item3{
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(109, 108, 108);
  border-radius: 14px;
  width: 305px;
  height: 340px;
  margin-top: 7px;
}

/* item-2 */
.first-container-item2 img{
  border-radius: 14px;
  position: absolute;
  top: -100px;
  width: 100%;
}
.first-container-div2 .content{
  height: 320px;
  width: fill;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  left: 12px;
  font-weight: 600;
  /* background-color: #3498db; */
  transition: transform 0.3s ease-in-out;
}
.content:hover{
  transform: scale(1.1);
}
.first-container-div2 .content span{
  color: black;
}
.content h3{
  color: black;
}
.content button{
  margin-top: 180px;
  padding: 4px 15px 4px 15px;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
}

/* Item-3 */
.first-container-item3 img{
  border-radius: 14px;
  position: absolute;
  top: -70px;
  width: 100%;
}
.first-container-item3 .content{
  width: 200px;
}
.first-container-item3 .content button{
  margin-top: 175px;
}


/* ///////////////////// */

/* Second Container */

/* .second-container .second-container-div1{
  display: flex;
  height: 350px;
  overflow: hidden;
  gap: 21px;
  background-color: aliceblue;
} */

.second-container{
  position: relative;
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-container .loader{
  border: 20px solid#e2e2e2;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border-top: 20px solid #3498db ;
  animation: span 2.5s linear infinite;
}

@keyframes span{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.second-container .loading{
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  color: #858D9D;
  /* background-color: #3498db; */
}
.second-container .loading div{
  position: absolute;
  /* top: 33px; */
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: currentColor;
  /* animation-timing-function: cubic-bezier(0, 0, 0, 0); */
}
.loading div:nth-child(1){
  left: 8px;
  animation: dot1 0.6s infinite;
}
.loading div:nth-child(2){
  left: 8px;
  animation: dot2 0.6s infinite;
}
.loading div:nth-child(3){
  left: 32px;
  animation: dot2 0.6s infinite;
}
.loading div:nth-child(4){
  left: 56px;
  animation: dot3 0.6s infinite;
}


@keyframes dot1{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes dot2{
  0%{
    transform: translate(0, 0);
  }
  100%{
    transform: translate(24px, 0);
  }
}
@keyframes dot3{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}

/* media queries */
@media(max-width:992px){
  .first-container-div1 .first-container-item1{
    height: 125px;
    width: 154px;
    padding: 6px;
    /* background-color: #3498db; */
  }
  .first-container-item1 button{
    margin-top: 25px;
  }
  .first-container-item1 button, .first-container-div1 img{
    transition: transform 0.3s,  ease-in;
  }
  .first-container-item1 button:hover{
    transform: scale(0.9);
  }
  .first-container-div1 img{
    top: 40px;
    left: 55px;2
  }
  .first-container-div1 img:hover{
    transform: scale(1.7) ;
  }

  /*  */
  .first-container-div2 .content{
    /* background-color: #3498db; */
    height: 320px;
    width: 100px;
    margin-top: -15px;
   }
   .content h3{
      font-size: 15px;
      margin-bottom: 0px;
   }
   .content button{
    padding: 4px;
    margin-top: 170px;
    height: 20px;
    font-size: 10px;
   }
  .first-container-div2 img{
    top: 0px;
    left: -50px;
    height: 100%;
    width: 225px;
  }
  .first-container-item3 .content button{
    margin-top: 210px;
  }
}